@import 'tailwindcss';

@theme inline {
  /* Fonts */
  --font-sans: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';

  --font-mono: var(--font-geist-mono), ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
    'Courier New', monospace;

  /* Colors */

  /* Screen sizes */
  --breakpoint-lg: inherit;
  --breakpoint-xl: inherit;
  --breakpoint-2xl: inherit;
}

@utility container {
  @apply mx-auto px-4;
}

@layer components {
  .skeleton {
    @apply relative overflow-hidden rounded;
  }

  .skeleton::before {
    content: '';
    @apply absolute inset-0 -translate-x-full;
    @apply bg-gradient-to-r from-transparent via-gray-200 to-transparent;
    @apply animate-[shimmer_2s_infinite];
  }
}
